.header {
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;


  &__contacs-wrapper {
    display: flex;
    font-size: 22px;
    margin: 0 10px;
    align-items: center;

    .tel {
      margin: 0px 10px;
    }
    .social {
      margin: 0px 10px ;
    }
  }

  &__nav-wrapper {
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-right: 5px;

    .banernav {
      border: 1px solid white;
      display: flex;
      margin: 0 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 2px;
      padding-top: 5px;

      .nav {
        margin: 0 10px
      }
    }

  }

    &__logo-wrapper {
      padding-top: 10px;

  }



}


