.index-page {
    background-image: url("../../static/images/img/bigstock-Santas-training-73365286.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: {
      repeat: no-repeat;
      position: center;
    }


  &__offer {
    text-align: center;
    flex: 0 0 100%;

    .top-text {
      font-size: 50px;
      line-height: 56px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      display: block;
      margin-bottom: 50px;

    }

    .bottom-text {
      font-size: 30px;
      font-weight: lighter;
      line-height: 35px;
      color: #FFFFFF;
    }

  }

  &__button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

      &__freetrain {
        min-width: 275px;
        max-width: 300px;
        border: 1px solid white;
        display: flex;
        margin: 0 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        padding-top: 10px;
        background-color: white;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;

      }

      &__salecard {
        min-width: 275px;
        max-width: 300px;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        border: 1px solid white;
        display: flex;
        margin: 0 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        padding-top: 10px;
      }
}