{*Наследование от основного файла *}
{extends '/_layouts/base.tpl'}

{block 'content'}
    <div class="index-page">


        <div class="index-page__box">

        <div class="index-page__offer">
            <span class="top-text">Не трать время на раздумья - <br>
                начни заниматься прямо сейчас!</span>
        <span class="bottom-text">Запишись на первую бесплатную тренировку!</span>
        </div>

          <div class="index-page__button">

        <div class="index-page__freetrain">
        <a>БЕСПЛАТНАЯ ТРЕНИРОВКА</a>
        </div>

            <div class="index-page__salecard">
                <a>ПОДОБРАТЬ АБОНЕМЕНТ</a>
            </div>
        </div>
        </div>
    </div>



{/block}