<header class="header">

    <div class="header__contacs-wrapper">
        <div class="tel"> {svg_icon:raw 'tel' 'root.static.svg'} </div>
        <span>680-214</span>
        <div class="social"> {svg_icon:raw 'Group' 'root.static.svg'} </div>
        <div class="social1"> {svg_icon:raw 'Vector' 'root.static.svg'} </div>
    </div>

    <div class="header__logo-wrapper">
        <div class="Baner"> {svg_icon:raw 'Baner' 'root.static.svg'} </div>
    </div>

    <div class="header__nav-wrapper">
        <div class="banernav">
        <div class="nav"> {svg_icon:raw 'calendar' 'root.static.svg'} </div>
        <span>Расписание</span>
        </div>
    </div>



</header>