body {
  font-size: $body-font-size;
  font-family: $font;
  line-height: 1.3;

// Изучи стили класса .container Это он меняет цвет при смене разрешения
// Давай прочитаем это правила вместе:
// задан зеленый цвет фона,
// но с разрешения L  и ниже  цвет белый ( Зеленый будет перекрыт и изменен на белый )
// на разрешении M  цвет Фиолетовый ( Белый и зеленый перекрыты более важным правилом)
// но с разрешения S и ниже ......
//
// Ширина нашего эткрана вседа будет поподать под одно из этих правил и относиться к одному из разрешений -> а значит
// будут применяться стили в соответствующей пометкой.
// В нашем первом задании тебе надо сверстать только на L  разрешение  В макете у тебя как раз оно.
// Это значит что пока на красном индикаторе( на странице браузера в углу) у тебя L  все должно быть красиво и по макету.
// Пережуй ту информацию что ты получил. Место для верстки у тебя есть это файл index-page.scss и index.tpl
// Теперь садись изучать макет и задай нудные обдуманные вопросы.




  .container{
    padding: 0 50px;

  }


// Красный индикатор разрешений ( в углу )
  #DEBUG {
    position: fixed;
    padding: 5px;
    opacity: 0.5;
    background: #f00;
    color: #fff;
    border-radius: 5px;
    left: 10px;
    bottom: 10px;
    z-index: 99999;

    &:after {
      content: 'XL';
      @include respond-down(L) {
        content: 'L';
      }
      @include respond-down(M) {
        content: 'M';
      }
      @include respond-down(S) {
        content: 'S';
      }
      @include respond-down(XS) {
        content: 'XS';
      }
    }
  }
}

